{% extends 'base.html' %}

{% block section %}

    <section class="center w-90 w-80-l ubuntu pt5">
        {% regroup content by created_at|date:"d M, Y" as content_groups %}

        {% for contents_by_day in content_groups %}
            <h2 class="ml2 w-90 w-80-l underline">{{ contents_by_day.grouper }}</h2>
            <div class="flex flex-wrap items-start">

                {% for c in contents_by_day.list %}

                    <div class="fl w-50 w-25-m w-20-l pa2">
                        <a class="db mw5 black link dim"
                           title="{{ c.title }}"
                           href="{{ c.link }}">

                            <div class="aspect-ratio aspect-ratio--16x9">
                                <div style="background-image:url({{ c.image }});"
                                     class="bg-center cover aspect-ratio--object ">
                                </div>
                            </div>

                            <dl class="mt2 f6 lh-copy v-top">
                                <dt class="clip">Title</dt>
                                <dd class="ml0 fw6-l fw6-m fw4 f7 f6-l f6-m">{{ c.title | truncatechars:60 }}</dd>
                                <dt class="clip">Description</dt>
                                <dd class="dn db-l db-m ml0 gray">{{ c.description | truncatechars:100 }}</dd>
                                {#                              <dd class="ml0 gray">{{ c.description | truncatechars:100 }}</dd>#}
                            </dl>
                        </a>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}

    </section>

{% endblock %}