{% extends 'base.html' %}

{% block section %}

    <section class="center w-100 w-90-ns ubuntu pt5">
        <div class="fr-ns w-100 w-20-l w-20-m overflow-hidden ma0" style="scrollbar-width: none;">
            <h2 class="pl2 underline dn db-l db-m">Tags</h2>
            <div class="nowrap flex-wrap-l flex-wrap-m inline-flex-l inline-flex-m overflow-auto pb2">
                {% for t in tags %}
                    <a class="f7 link dim br-pill ba ph3 pv2 dib black ma1" href="{% url 'web:home' %}?tag={{ t }}">{{ t }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="fl-ns w-90 w-80-l w-80-m center">
            {% if request.GET.tag %}
                <h2 class="ml2 w-90 w-80-l underline">{{ request.GET.tag }}</h2>
            {% endif %}

            {% if content %}
                {% regroup content by created_at|date:"d M, Y" as content_groups %}

                {% for contents_by_day in content_groups %}
                    <h2 class="ml2 w-90 w-80-l underline">{{ contents_by_day.grouper }}</h2>
                    <div class="flex flex-wrap items-start">

                        {% for c in contents_by_day.list %}

                            <div class="fl w-50 w-25-m w-20-l pa2">
                                <a class="db mw5 black link dim"
                                   title="{{ c.title }}"
                                   href="{{ c.link }}"
                                   target="_blank">

                                    <div class="aspect-ratio aspect-ratio--16x9">
                                        <div style="background-image:url({{ c.image }});"
                                             class="bg-center cover aspect-ratio--object ">
                                        </div>
                                    </div>

                                    <dl class="mt2 f6 lh-copy">
                                        <dt class="clip">Title</dt>
                                        <dd class="ml0 fw6-l fw6-m fw4 f7 f6-l f6-m">{{ c.title | truncatechars:60 }}</dd>
                                        <dt class="clip">Description</dt>
                                        {% if c.description %}
                                            <dd class="dn db-l db-m ml0 gray">{{ c.description | truncatechars:100 }}</dd>
                                        {% endif %}
                                        {#                              <dd class="ml0 gray">{{ c.description | truncatechars:100 }}</dd>#}
                                        {#                                    {% if c.tag %}#}
                                        {#                                        <small class="bb pa0 fw1">{{ c.tag }}</small>#}
                                        {#                                    {% endif %}#}
                                    </dl>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}
            {% else %}
                <h1 class="ml2"> Nothing's here.....</h1>
            {% endif %}

        </div>

    </section>

{% endblock %}