{% extends 'base.html' %}

{% block section %}

    <section class="center w-30-l w-50-m w-80-ns ubuntu pt5">
        <article class="pa4 black-80">
            {% if success %}
                <p style="color: green;">{{ success }}</p>
            {% elif error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form action="{% url 'web:share' %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
                    <legend class="ph0 mh0 fw6 clip">Share</legend>
                    <div class="mt3">
                        <label class="db fw4 lh-copy f6" for="url">Enter the URL you want to share</label>
                        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="url" name="url" id="url" autocomplete="off">

                        <small id="name-desc" class="f6 black-60 db mb2">Share any url you like, but if the url can't be parsed it will show error.</small>
                    </div>
                </fieldset>

                <i class="f6 black-80">*Only YouTube is supported for now.</i>
                <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Share"></div>
            </form>
        </article>
    </section>

{% endblock %}